doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade
    meta(name='description' content='The HTML5 Herald')
  body
    include _header.pug
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.

